
a:hover {
    color: rgb(197, 74, 74);
}
.mytabs {
    display: flex ;
    flex-wrap: wrap ;
    max-width: 600px;
    margin: 50px auto;
    padding: 50px;            
}  
.mytabs input[type='radio']{
    display: none;
}
.mytabs label{
    color: rgba(46, 14, 107, 0.678); 
    font-size:25px;
    padding: 25px;
    background-color: rgb(218, 228, 236);
    font-weight: bold;
}
.mytabs .tab{
    width: 100%;
    padding: 20px;
    background: white;
    order: 1;
    display: none;
}
.mytabs input[type='radio']:checked + label + .tab{
    display: block;
}
.mytabs input[type="radio"]:checked + label {
    background:white
}